# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
.env

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Project specific
uploads/*
!uploads/.gitkeep
data/*
!data/.gitkeep
*.duckdb
*.duckdb.wal

# IDEs & System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
Desktop.ini
.DS_Store
.csv
